.yell {
    color: #ecec42;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

footer {
    color: #f6f6f6;
    padding: 1.5em;
    text-align: center;
    display: inline !important;
}

footer svg {
    margin-left: 1em;
    margin-right: 1em;
}

.card-title {
    margin: 10px;
}
