.btn-primary {
    width: 100%;
    margin-top: 1em;
}

.wrap {
    width: 640px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.child {
    border: 1px dotted rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: auto;
    margin-top: 6em;
    height: 450px;
    width: 500px;
}

.test {
    margin-bottom: 1em;
}

.body-control {
    background-color: #fbfbfb;
}

.yell {
    color: #ecec42;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

footer {
    color: #f6f6f6;
    padding: 1.5em;
    text-align: center;
    display: inline !important;
}

footer svg {
    margin-left: 1em;
    margin-right: 1em;
}

button .favorite {
    border: none !important;
    background: none !important;
}

.card-title {
    margin: 10px;
}

.hidden {
    display: none;
}
